/*主页顶部*/

/*带图列表*/

#shangjia_tab{ display:block; width:100%; height:2.2rem; background-color:#fff; border-bottom:0.11rem #dedede solid; position:fixed; z-index:999; top:3.15rem;}
#shangjia_tab li{ display:block; float:left;}
#shangjia_tab li a{ display:block; text-align:center; line-height:2.2rem; height:2.2rem;  color:#999;}
#shangjia_tab li a.on{border-bottom:0.22rem solid #2fbdaa; margin-top:-0.00rem;}
#shangjia_tab li em{ display:inline-block; margin-left:0.05rem; margin-bottom:0.02rem; content:''; width:0.07rem; height:0.07rem; border-bottom:0.02rem solid #666;border-left:0.02rem solid #666;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);}

.index-top{position:relative;height:381px;    margin-top: 2.2rem;}
.index-top .top-a{height:120px;background:#E86131;}
.index-top .top-b{background:#fafafa;height:110px;}
.index-top .top-a .user{text-align:center;padding-top:30px;}
.index-top .top-a .user .avatar{width:90px;height:90px;border-radius:90px;}
.index-top .top-a .user .avatar img{width:90px;height:90px;border-radius:90px;overflow:hidden;border:3px solid #F6B0A5;}
.index-top .top-a .user .info  p{color:#fff;margin:0;height:20px;line-height:20px;font-size:12px;}
.index-top .top-a .user .info {margin:10px 0;}
.index-top .top-a .user .info span{margin:0 5px;}
.index-top .top-g{width:80%;background:blue;height:160px;position:absolute;bottom:30px;left:10%;}
.index-top .top-g .btn{height:120px;text-align:center;display:block;padding:10px;color:#fff;}
.index-top .top-g .btn i{font-size:30px;}
.index-top .top-g .btn-1{color:#E86131;background:#fff;}
.index-top .top-g .btn-2{background:#FFD43B;}
.index-top .top-g .btn-3{background:#00B2F1;}
.index-top .top-g .btn-4{background:#04C9FF;}
.index-top .top-g .btn-5{background:#FFBA3F;}
.index-top .top-g .btn-6{background:#62EB00;}
.index-top .top-s {position:absolute;top:10px;right:20px;font-size:20px;color:#fff;}

/*列表菜单*/
.panel-list ul{padding:0;list-style:none;}
.panel-list li{overflow:hidden;border-bottom:thin solid #eee;}
.panel-list li i{float:right;color:#999;    margin-top: 1em;}
.panel-list li span{float:left;width:30px;text-align:center;color:#999;font-size:16px;}
.panel-list li a{display:block;padding:0 10px;height:50px;line-height:50px;width:100%;}
.panel-list li em{float:right}


.panel-sub ul{padding:0;list-style:none;}
.panel-sub li{overflow:hidden;border-bottom:thin solid #eee;}
.panel-sub li i{float:right;color:#999;}
.panel-sub li span{float:left;width:30px;text-align:center;color:#999;font-size:16px;}
.panel-sub li div{display:block;padding:0 10px;height:50px;line-height:50px;width:100%;}
.panel-sub li em{float:right}

.text-small1 {
    font-size: 12px; font-weight:bold;
}

/*切换TAB*/
.tab-bar{text-align:center;padding:10px 0;background:#fafafa;border-bottom:thin solid #eee;margin-top: 2.2rem;}
.tab-bar a{background:#fff;padding:8px 20px;}
.tab-bar a:focus{border:none;border: 1px solid #EEE;}
.tab-bar a.active{background:#E9553B;}

/*带图列表*/
.list-media-x ul{padding:0;list-style:none;}
.list-media-x li{border-bottom:2px solid #eee}
.list-media-x p{margin:0;}

/*批量传图*/
#picker{display:inline-block;line-height:1.428571429;vertical-align:middle;margin:0 12px 0 0;}
#picker .webuploader-pick{padding:6px 12px;display: block;}
.uploader .thumbnail{width:25%;max-height:100px;}
.uploader .thumbnail img{width:95%;height:100px;background:url("../image/tieba/loading.png") center no-repeat;}
.uploader-list{width:100%;overflow:hidden;background:#fff;}
.file-item{float:left;position:relative;background:#fff;margin-top:10px;}
.upload-state-done:after{content:"\f00c";font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale;font-size:16px;position: absolute;bottom: 0;right:10%;color:#4cae4c;z-index:99;}

/*团购卡片*/
.tuan-card{height:140px;padding:10px;}
.tuan-card .card-r{margin:10px 0;width:100%;border-left:thin dashed #eee;height:100px;text-align:center;padding:10px 0;}
.tuan-card .card-r a{display:block;width:100%;}
.tuan-card .card-r img{width:60px;height:60px;}
.tuan-card .card-r p{font-size:12px;color:#999;}
.tuan-card .card-l{margin:10px 0;width:100%;height:100px;}
.tuan-card .card-l .price{text-align:center;width:100%;display:block;color:#FF9999;}
.tuan-card .card-l .price small{font-size:20px;color:#999;}
.tuan-card .card-l .price em{font-size:45px;font-family:SimSun;font-weight:bolder;}
.tuan-card .card-l .name{text-align:center;width:100%;display:block;color:#FF9999;}
.tuan-card .card-l .name em{font-size:20px;}
.tuan-card .card-l p{font-size:12px;color:#999;text-align:center;margin:0;}


/*表单样式*/

.text-input {border:none;width:100%;}
.text-select{border:none;width:100%;background:#fff!important;}
.text-area{width:100%;border:none;resize:none;padding:10px;}
/*一元*/
.mine_yiyuan_list{padding:.1rem;border-bottom:.01rem solid #dedede;background:#fff;overflow:hidden}
.mine_yiyuan_list .img{width:.6rem;height:.6rem}
.mine_yiyuan_list .img img{width:100%;height:100%}
.mine_yiyuan_list .wz{margin-left:.7rem}
.mine_yiyuan_list .wz p{font-size:.12rem;line-height:.2rem}
.mine_yiyuan_list .wz .bt{font-size:.14rem;color:#333}
.mine_yiyuan_list .wz .join_num{overflow:hidden;margin:.05rem 0}
.mine_yiyuan_list .mine_yiyuan_btn{display:inline-block;margin-left:.05rem}
.mine_yiyuan_allnum_mask{position:fixed;display:none;z-index:1000;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000)}
.mine_yiyuan_allnum_mask .cont{position: absolute;top: 25%;margin-top: -.88rem;left: 50%;width: 90%;margin-left: -45%; background: #fff;border-radius: .15rem;
overflow: hidden;}
.mine_yiyuan_allnum_mask .title{overflow: hidden;font-size: 16px;color: #333;line-height: 1.84rem;padding: 1 .9rem;text-align: center; margin-top: .52rem;}
.mine_yiyuan_allnum_mask .cont .closs{display: inline-block;line-height: .82rem;padding: 0 .25rem;position: absolute;right: .46rem;top: .95rem;font-size: 30px;}
.mine_yiyuan_allnum_mask .cont p{font-size:12px;;padding:0.9rem}
.mine_yiyuan_allnum_mask .cont .num{ padding: .65rem .5rem .5rem;height:13rem; overflow-y: scroll;}
.mine_yiyuan_allnum_mask .cont .num a{ padding:0.5rem; overflow:hidden;}
.mine_yiyuan_allnum_mask .cont .num table{font-size:12px;line-height:24px}
.mine_yiyuan_allnum_mask .btn{width:100%;background:0 0;border:none 0;border-top:.15rem solid #dedede;height:38px;line-height:38px;text-align:center;color:#2fbdaa;font-size:16px}